<?xml version="1.0"?>
<model>
  <name>x500-camera_down</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Harvey Merton</name>
    <email>hmer101@mit.edu</email>
  </author>
  <description>Modified version of x500-Depth by Benjamin Perseghetti</description>
</model>
